.row {
    background: radial-gradient(circle, rgba(255, 175, 204, 0.7) 0%, #ff9fba 100%);
    border: dashed rgb(255, 255, 255) 2px;
    border-radius: 10px;
    box-shadow: 8px 8px 3.6px rgba(0, 0, 0, 0.253);
}
.info {
    background-color: #d7d7f27e;
}
p {
    font-family: "baga", sans-serif;
font-weight: 400;
font-style: normal;
}
.card-title {
    font-family: "segoe-marker", sans-serif;
font-weight: 700;
font-style: normal;
font-size: x-large;
}
.skills {
     height: 100%;
    border: dashed black 2px;
    background-image: url(imgs/whiteFeltBackground.jpg);
      box-shadow: 8px 8px 0px rgba(0, 0, 0, 0);

}
.card {
    background-color: #ffffff;
    border: dashed black 2px;
    box-shadow: 8px 8px 3.6px rgba(0, 0, 0, 0.253);
}
#journeyRow {
    background: radial-gradient(circle, rgba(255, 175, 204, 0) 0%, rgba(255, 159, 186, 0) 100%);
    border: dashed rgb(255, 255, 255) 0px;
        box-shadow: 8px 8px 0px rgba(0, 0, 0, 0);

}




