<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    <title>Kristen Tsim</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="imgs/KTLogo.PNG" type="image/x-icon">
    <!-- Bootstrap CSS v5.3.8 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="projects.css" />
    <link rel="stylesheet" href="https://use.typekit.net/zkp7qte.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img
              src="imgs/KTLogo.PNG"
              alt="Logo"
              width="50"
              class="d-inline-block align-text-top"
            />
            Kristen Tsim
          </a>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="about.html" aria-current="page"
                  >About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a
                  class="contactBtn btn nav-link"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main
      class="container text-center align-items-center justify-content-center mb-5"
      id="app"
    >
      <div id="miniSite">
        <h1 class="my-3">Projects</h1>
        <div class="row websiteSection">
          <div class="col-md-2 col-sm-12 selector">
  <div
    class="flex-sm-row flex-md-column d-flex align-items-stretch justify-content-center w-100 gap-2 mt-1"
    role="group"
    aria-label="Vertical radio toggle button group"
  >
    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" value="web" v-model="currentSection" />
    <label class="btn btn-custom w-100 flex-fill" for="vbtn-radio1">
      Web Projects
    </label>

    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off" value="other" v-model="currentSection" />
    <label class="btn btn-custom w-100 flex-fill" for="vbtn-radio2">
      Other Projects
    </label>
  </div>
</div>
          <div class="col-md-10 col-sm-12"  v-if="currentSection === 'web'" id="webProjects">
            <!-- Project icons, will be generated using vue later -->

<a class="btn zeroniBtn" role="button" v-for="zeroniIcon in zeroniIcons" @click="openWebsiteShowcase(zeroniIcon.site)">
  
  <div class="zeroniCard mt-3">
  <img :src="zeroniIcon.zeroni" class="card-img-top zeroniPics" alt="...">
  <div class="card-body">
    <h5 class="card-title my-3">{{ zeroniIcon.projectName }}</h5>  
</div>
</div>
</a>


            
          </div>
          

<!-- sewing projects will be added here -->
          <div class="col-md-10 col-sm-12"  v-if="currentSection === 'other'" id="otherProjects">


            <h2 class="my-3">My Zeroni Emotional Supports</h2>
            <img src="imgs/ZeroniGang2.JPEG" alt="" width="50%" class="my-3 rounded-3 zeroniFamily">
            <p class="mx-5 my-3 p-3 info mb-5">
              “Zeronis” are the animal mascots of the members of my favorite group, Zerobaseone. These Zeronis are part of the marketing through Line Friends and they make plushies of these mascots. I started making them in March 2025 and finished them in February 2026. I started them when I was learning to sew other mini stuffed animals. I realized that one of the felt colors looked like the ones from my favorite Zeroni. I make these animals in my free time and I enjoy the process of making them.

            </p>
          </div>


        </div>
      </div>
      <div id="websiteShowcase" class="d-none">
        <button type="button"  class="btn btn-danger position-absolute top-0 end-0 close me-2" style="border-radius: 1000px;" @click="closeWebsiteShowcase()">Close</button>
        
        <div class="row my-3 p-5 d-none websiteRows mx-5" v-for="project in websites" :key="project.id" :id="project.site">
          <h1 class="my-3">{{ project.name }}</h1>
          <b>
                Completed in Grade {{ project.grade }}.
              </b>
          
          
          <div class="col-md-6 col-sm-12 my-auto d-flex flex-column align-items-center justify-content-center p-3">
            <div :id="project.id" class="carousel slide" data-bs-ride="carousel">
              
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img
                    :src="project.images[0]"
                    class="w-100 d-block"
                    alt="First slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    :src="project.images[1]"
                    class="w-100 d-block"
                    alt="Second slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    :src="project.images[2]"
                    class="w-100 d-block"
                    alt="Third slide"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                :data-bs-target="`#${project.id}`"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                :data-bs-target="`#${project.id}`"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>


            
            
          </div>
          <div class="col-md-6 col-sm-12 my-auto">
            <h2>Overall</h2>
            <p class="info p-3">
              {{ project.description }}
            </p>
            
          </div>
          <div class="row">
            <h2 class="my-3">Code</h2>
            <div class="col-md-6 col-sm-12 my-auto">
              <img :src="project.codePic" alt="" class="w-100 codePic">
            </div>
            <div class="col-md-6 col-sm-12 my-auto">
              <p class="info p-3 mt-3">
                {{ project.codeText }}
              </p>
            </div>
          </div>
          <h2 class="my-3">Improvements</h2>
            <p class="info p-3">
              <!-- Add improvement details here -->
              {{ project.improvements }}
            </p>
          <button type="button" class="btn my-3" @click="openWebsite(project.link)">
            View Project
          </button>
        </div>
        
        
      </div>

      <!-- Modal to contact me -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Contact Me!!!
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">

              <form
  action="https://formspree.io/f/xjgloaww"
  method="POST"
>



  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      name="email"
      id="formId2"
      placeholder=""
    />
    <label for="formId2">Your email</label>
  </div>
  <div class="form-floating">
    <textarea
      class="form-control"
      placeholder="Your message"
      name="message"
      id="formId3"
      style="height: 100px"
    ></textarea>
    <label for="formId3">Your message</label>
  </div>
    
  </label>
  <!-- your other form fields go here -->

            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn closeBtn"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              
                
                  <button type="submit" class="btn submitBtn">Send</button>

    </form>

                
             
            </div>
          </div>
        </div>
      </div>
      <!-- end of modal -->
    </main>
    <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-auto border-top mt-1 container-fluid"
      >
        <div class="col-md-4 d-flex align-items-center">
         
          <span class="mb-3 mb-md-0 text-body-secondary"
            >© Kristen Tsim, Inc</span
          >
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-body-secondary" href="https://www.instagram.com/kristentsim?igsh=MWl1YzY1Y2tua3Q4dQ%3D%3D&utm_source=qr" aria-label="Instagram"
              >
              <img src="imgs/insta.png" alt="Instagram Logo" width="24" height="24" />
            </a>
          </li>

          <li class="ms-3">
            <a class="text-body-secondary" href="https://github.com/ktsim88" aria-label="Github"
              ><img src="imgs/githubWhite.png" alt="GitHub Logo" width="24" height="24" /></a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="https://www.linkedin.com/in/kristen-tsim-5a4059334?trk=people-guest_people_search-card" aria-label="LinkedIn"
              ><img src="imgs/linkdin.png" alt="LinkedIn Logo" width="24" height="24" /></a>
          </li>
        </ul>
      </footer>
    <!-- Bootstrap JavaScript Bundle (includes Popper) -->
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
