/* general whole website styling (background, etc.) */
body {
    background-color: #C2DCFF;
}

/* navbar styling */
.navbar-brand {
    font-family: "liebelotte", sans-serif;
font-weight: 900;
font-style: normal;
font-size: 35px;
}
.nav-item {
    font-family: "letter-gothic-recast", sans-serif;
font-weight: 700;
font-style: normal;
}
.navbar {
    background: linear-gradient(90deg, #BDE0FE 0%, #A2D2FF 100%);
    border-bottom: dashed rgb(255, 255, 255) 2px;
}

/* text styling */
h1,h2 {
    font-family: "liebelotte", sans-serif;
font-weight: 1000;
font-style: normal;
font-size: 50px;
}
img {
    border-radius: 10px;
}
/* range input styling */
/* code below is from chatgpt */
.form-range::-webkit-slider-thumb {
    background: url("imgs/zeroseRose.png");
    background-size: cover;
    background-position: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    appearance: none;
    -webkit-appearance: none;

    margin-top: -19px;
}

.form-range::-moz-range-thumb {
    background: url("imgs/zeroseRose.png");
    background-size: cover;
    background-position: center;

    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
}
.form-range::-webkit-slider-runnable-track {
    background-color: rgba(0, 0, 255, 0);
    background-size: cover;
    height: 12px;
}

.form-range::-moz-range-track {
    background-color: rgba(0, 0, 255, 0);
    background-size: cover;
    height: 12px;
}
.form-range {
    appearance: none;
    -webkit-appearance: none;

    width: 100%;
    height: 12px;
    border-radius: 20px;

    background: linear-gradient(
        to right,
        #A9D6FF 0%,
        #A9D6FF 0%,
        #E5E7EB 0%,
        #E5E7EB 100%
    );

    outline: none;
}
/* end of chatgpt code */


/* project icon stuff*/
.zeroniPics {
    height: 250px;
    width: 250px;

}



/* logo */
.logo {
    height: 50px;
    margin-top: -5px;
}

/* fonts for later
    zeroni font
        font-family: "jumble", sans-serif;
        font-weight: 400;
        font-style: normal;
*/
/*buttons */
.btn {
    font-family: "letter-gothic-recast", sans-serif;
font-weight: 700;
font-style: normal;
}
.close {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 90px;
}
.close:hover {    background-color: rgba(255, 0, 0, 1);
}   
/* range input styling */